<div controller="app.components.states.MillenniumSelected">
    <style component="css-helpers"></style>
    <h1 style=" height:120px; text-align:center">Millennium Falcon Selected</h1>
    <div component="group">
        <div span="4"><img tag="mill" class="selectedImage" src="../../images/Ships_small/millennium_sm.png" /></div>
    </div>
    <div component="group" style="min-height:500px; text-align:right; padding-right:20px;">
        <div component="state-manager" tag="insideState-manager" class="absolute-fill-parent overflow-hidden">
            <div component="lazy-load-state" lazy-load="oppCurvedTie-state" name="oppCurvedTie-state" lazy-load-class="absolute-fill-parent" class="absolute-fill-parent">
                <div component="loadingPage2"></div>
            </div>
            <div component="lazy-load-state" lazy-load="oppStraitTie-state" name="oppStraitTie-state" lazy-load-class="absolute-fill-parent" class="absolute-fill-parent">
                <div component="loadingPage2"></div>
            </div>
            <div component="lazy-load-state" lazy-load="oppPointTie-state" name="oppPointTie-state" lazy-load-class="absolute-fill-parent" class="absolute-fill-parent">
                <div component="loadingPage2"></div>
            </div>
        </div>
    </div>
</div>
